<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tracker</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>

<div id="app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <span class="navbar-brand mb-0 h1">Tracker</span>
  </nav>

  <b-container>
    <b-row align-h="center">
      <b-col cols="12" sm="10" 	md="8" 	lg="6" 	xl="5">
        <table class="table custom-table">
          <tbody>
          <tr><td scope="row">accuracy</td><td>{{ point.coords.accuracy }}</td></tr>
          <tr><td scope="row">altitude</td><td>{{ point.coords.altitude }}</td></tr>
          <tr><td scope="row">latitude</td><td>{{ point.coords.latitude }}</td></tr>
          <tr><td scope="row">longitude</td><td>{{ point.coords.longitude }}</td></tr>
          <tr><td scope="row">speed</td><td>{{ point.coords.speed }} m/s</td></tr>
          <tr><td scope="row">speed</td><td>{{ point.coords.speed * 3.6 }} km/h</td></tr>
          <tr><td scope="row">timestamp</td><td>{{ point.timestamp }}</td></tr>
          <tr><td scope="row">deltaTime</td><td>{{ deltaTime }}</td></tr>
          </tbody>
        </table>

        <b-row class="button-row">
          <b-col cols="6">
            <b-button v-on:click="toggleRecordStatus" variant="primary">{{ getButtonText(isRecording) }}</b-button>
          </b-col>
          <b-col cols="6" class="text-right">
            <i class="material-icons play-icon" v-if="isRecording">play_circle_filled</i>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row align-h="center">
      <b-col cols="12" sm="11" 	md="10" 	lg="9" 	xl="8">
        <div class="jumbotron">
          <b-list-group>
            <b-list-group-item
                v-for="(track, index) in tracks"
                v-bind:class="{ 'recorded-track': isRecording && (tracks.length === tracks.length - index) }"
                class="track-item"
            >
              <span class="item-text">
                {{ tracks.length - index }})
                {{ dateFormatter(track.startTime) }} - {{ dateFormatter(track.stopTime) }}
              </span>

              <b-badge pill variant="primary">{{ track.dots.length }}</b-badge>

              <b-button
                  v-if="!(isRecording && (tracks.length === tracks.length - index))"
                  v-on:click="saveTrack(index)"
                  size="sm"
                  variant="primary"
              >
                <i class="material-icons">save</i>
              </b-button>

              <b-button
                  v-if="!(isRecording && (tracks.length === tracks.length - index))"
                  v-on:click="openDeleteDialog(index)"
                  size="sm"
                  variant="primary"
              >
                <i class="material-icons">delete_forever</i>
              </b-button>
            </b-list-group-item>
          </b-list-group>
        </div>
      </b-col>
    </b-row>
  </b-container>

  <b-modal
      ref="deleteModal"
      title="Confirm track deleting"
      ok-title="Delete"
      @ok="deleteTrack"
  >
    <p>Do you really want to delete the track?</p>
  </b-modal>
</div>
</body>
<script src="js/functions.js"></script>
<script src="js/index.js"></script>
</html>
